
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

@font-face {
    font-family: h2font;
    src: url(BigShouldersStencilDisplay-Bold.woff2);
}

#maindiv{
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    height:400px;
    /* width:900px; */
    margin:50px auto ;
    /* background-color: aqua; */
}

#smalldiv{
    width:300px;
    /* height: 100%; */
}

.pos1{
    background: #E28625;
}

.pos2{
    background: #006971;
}

.pos3{
    background: #004140;
}

#head2{
    margin-left: 10%;
    margin-top: 10%;
    font-family: h2font;
    font-size: 35px;

}

#parMargin{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    margin: 40px;
    opacity: 0.75;
}

#imgmargin{
    margin-left: 10% ;
    margin-top: 10%;
}

#button{
    font-family: 'Lexend Deca', sans-serif;
    color:rgba(red, green, blue, 0);
    font-weight: 900;
    margin: 0% 20%;
    border-radius: 30px;
    border: 0px;
    padding: 15px 30px;
}

#button:hover{
    border:2px solid white; 
    background:rgba(0,0,0, 0);
    color:white;
}





